/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */
body {
    margin: 0;
    padding: 0;
    background-color: orange;
    height: 100vw;
    width: 100vh;
}
/* ---------------------------------------------------------------------------- */
header{
        background: #51CE05;
        height: 15vh;
        width: 100vw;
        border-bottom-left-radius: 100%;
        border-bottom-right-radius: 100%;
        position: fixed;
        margin: 0;
        padding: 0;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
        z-index: 1;
}

.headerLogo{
    padding-top: 10px;
    width: 180px;
    height: 95px;
    position: absolute;
    left: 30%;
}
/* ---------------------------------------------------------------------------- */
#reader{
    z-index: 0;
    position: inherit;
    width: 100vw;
    top:20vh;
}
#html5-qrcode-anchor-scan-type-change{
    font-size: larger;
}

#html5-qrcode-button-camera-start{
    width: 200px;
    height: 30px;
    background: #51CE05;
    border-radius: 10px;
    text-decoration-color: #FFFFFF;
}
#html5-qrcode-button-camera-permission{
    width: 200px;
    height: 30px;
    background: #51CE05;
    border-radius: 10px;
    text-decoration-color: #FFFFFF;
}
#html5-qrcode-button-camera-stop{
    width: 200px;
    height: 30px;
    background: #51CE05;
    border-radius: 10px;
    text-decoration-color: #FFFFFF;
}

#html5-qrcode-button-file-selection{
    background: #51CE05;
    border-radius: 10px;
    text-decoration-color: #FFFFFF;
}

#html5-qrcode-anchor-scan-type-change{
    color: black ;
}
/* ---------------------------------------------------------------------------- */
footer{
    background: #51CE05;
    height: 5vh;
    width: 100vw;
    margin: 0;
    padding-top: 15px;
    position: fixed;
    bottom: 0;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
    text-align: center;
    vertical-align: center;
}
/* ---------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------- */